@import "./vars";

textarea {
	min-height: 250px;
	font-family: $code_font_stack;
}

h1.hero-heading {
	text-align: center;
}

h2 {
	font-size: 3.2rem;
}

h3 {
	font-size: 2.6rem;
}

li {
	margin-bottom: 0.25rem;
}

#js-code {
	background-color: $code_bg_color;
}

section {
	&#builtwith {
		border-top: 1px solid $border_color;
		padding-top: 3.5rem;
		margin-top: 3rem;
	}

	&#description {
		border-bottom: 1px solid $border_color;
		margin-bottom: 3.5rem;
		padding-bottom: 3rem;
	}
}

body {
	padding-bottom: 85px;
}