doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content= package.description)
		meta(name="author" content= package.author)
		title= friendly_name
		include html/favicons.pug
		include html/stylesheets.pug
		include html/social_share.pug
	body
		.section.hero
			.container
				include html/github_banner.pug
				section#title.row
					h1.hero-heading= friendly_name
				section#description.row
					include html/description.pug
				section#form.row
					include html/input.pug
				section#output.row
					include html/output.pug
				section#builtwith.row
					include html/builtwith.pug
				section#contributers.row
					include html/madeby.pug
		if production
			#codefund
		include html/scripts.pug