.u-full-width
	.row
		h2 Made with...	
	.row
		each technology, index in builtwith
			.three.columns
				h3 #[a(href= technology.link)= technology.name]
				p Used #[i #{technology.name}] for #{technology.purpose}
