.one-half.column
	h2 Description
	p Converts multiline text into a JavaScript multiline string. This includes both #[a(href="https://google.github.io/styleguide/javascriptguide.xml?showone=Multiline_string_literals#Multiline_string_literals") concatenated string in ECMA5] and the new #[a(href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Template_literals") template literal in ECMA6]
.one-half.column
	h2 Uses
	ul
		li Large Blocks of text
		li ASCII Art
		li HTML Code