.u-full-width
	.row
		h2 Input
		label(for="text") Text
		textarea(id="text" class="u-full-width" rows="20")
	.row
		.four.columns
			label(for="variable-name") Variable Name (If empty, no var is used)
			input(class="u-full-width" type="text" value="text" id="variable-name")
		.four.columns
			label(for="string-type") String Type
			- var types = {"ecma5double": "Double quotes (ECMA5)", "ecma5single": "Single quotes (ECMA5)", "ecma6": "Template literals (ECMA6)"}
			select(class="u-full-width" id="string-type")
				each title, value in types
					option(value= value, selected= value == "ecma5double")= title
		.four.columns
			label(for="no-tabs") Space Type
			- var types = {"tabs": "Tabs", "space2": "2 Spaces", "space4": "4 Spaces", "space8": "8 Spaces"}
			select(class="u-full-width" id="no-tabs")
				each title, value in types
					option(value= value, selected= value == "tabs")= title
	.row
		.four.columns
			label(for= "no-newline")
				input(id="no-newline" type="checkbox")
				span(class="label-body") No Newlines
		.four.columns
			label(for= "trim-padding")
				input(id="trim-padding" type="checkbox")
				span(class="label-body") Trim Padding
		.four.columns
			label(for= "no-semi-colon")
				input(id="no-semi-colon" type="checkbox")
				span(class="label-body") No Semi-colon
