each script in includes.scripts
	script(type='text/javascript' src= script)
each script in includes.scripts_async
	script(type='text/javascript' src= script async)
if production
	each script in includes.scripts_async_production
		script(type='text/javascript' src= script async)
include ./analytics.pug

script.
	window.onload=function(){
		// Initialize clipboard editing
		new ClipboardJS('#copy');
	}

script.
	window.onload = function() {
        issueEmbed.init("#issue-embed", "755470cf-4d50-f6c6-98e9-e9c6a8457362", "MIDDLE-BOTTOM");
    };
