each script in includes.scripts
	script(type='text/javascript' src= script)
each script in includes.scripts_async
	script(type='text/javascript' src= script async)
include ./analytics.html
include ./adsense.html