meta(property="og:image:height" content="295")
meta(property="og:image:width" content="564")
meta(property="og:description" content="Converts multiline text into a JavaScript multiline string. This includes both concatenated string in ECMA5 and the new template literal in ECMA6")
meta(property="og:title" content="Multiline JavaScript Converter")
meta(property="og:url" content="http://jsstringconverter.bbody.io/")
meta(property="og:image" content="https://s3-ap-southeast-2.amazonaws.com/bbody-images/github/MultilineJavaScriptConverter/og-image.jpg")
